workflows/ai-gmail-triage-of-labels.json
{
  "updatedAt": "2025-11-04T20:41:19.000Z",
  "createdAt": "2025-10-24T09:35:58.251Z",
  "id": "JUSYRbe45rvkCWkk",
  "name": "(ai) gmail - triage of labels",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Categorize this email:\n**ID:** {{ $json.id }}\n**ThreadID:** {{ $json.threadId }}\n**From:** {{ $json.From }}\n**To:** {{ $json.To }}\n**Subject:** {{ $json.Subject }}\n**Snippet:** {{ $json.snippet }}\n**Labels:** {{ $json.labels[0].name }}, {{ $json.labels[1].name }}, {{ $json.labels[2].name }}",
        "options": {
          "systemMessage": "You are an email categorization assistant. Your task is to analyze emails and apply appropriate labels to help organize the user's inbox.\n\nYou have access to two tools:\n1. **Get all Labels** - Retrieves available email labels\n2. **Add Labels** - Applies labels to emails\n3. **Get message** - Reads the content of a message given an ID\n\n### Instructions:\n- First, always use \"Get all Labels\" to see available categories.\n- Never use this label IDs: INBOX, SENT, CHAT, TRASH, DRAFT, SPAM, CATEGORIES, CATEGORY_FORUMS, CATEGORY_UPDATES, CATEGORY_PROMOTIONS, CATEGORY_SOCIAL, UNREAD, YELLOW_STAR, STARRED, Label_2\n- Analyze email content for: subject, sender, keywords, and context\n- If necessary, read the complete email using Get Message (not only the snippet)\n- Apply only most relevant label per email\n- Be consistent in categorization patterns\n- If unsure between labels, choose the most specific one\n\n### Response Format:\n1. Brief summary of email content (1 sentence)\n2. Chosen labels with reasoning\n3. Use \"Add Labels\" tool with selected labels\n\nBe efficient and accurate. Focus on helping the user maintain an organized inbox."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        384,
        16
      ],
      "id": "ea6a41d5-5135-4a68-a6e0-e1739c802703",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', `Array of Gmail label ids to add. Use the id field from the \"Get all labels\" tool`, 'string') }}"
      },
      "id": "c40d97c2-dd80-450b-a662-e01b6792cbdd",
      "name": "Add Label",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        656,
        224
      ],
      "webhookId": "e7289911-d937-45bd-9e91-410a0dc959f8",
      "credentials": {
        "gmailOAuth2": {
          "id": "81fW20A5QWw8eLph",
          "name": "gmail - cristian bigmomo"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to get all existing labels from Gmail",
        "resource": "label",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        784,
        224
      ],
      "id": "cab6834e-75a3-4552-8913-d62b9a533677",
      "name": "Get all Labels",
      "webhookId": "291b9995-7ae1-4f65-9ffb-ba62c980b829",
      "credentials": {
        "gmailOAuth2": {
          "id": "81fW20A5QWw8eLph",
          "name": "gmail - cristian bigmomo"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {
          "maxOutputTokens": 2048
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        224
      ],
      "id": "75fd2b00-306d-44a2-93b2-0c65457046d2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "4opOWz4CcbsKpSMm",
          "name": "gemini palm - cristian bigmomo"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "includeSpamTrash": false,
          "includeDrafts": false,
          "readStatus": "=unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "3e69be81-d59a-49f4-bc07-fc407617db51",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "81fW20A5QWw8eLph",
          "name": "gmail - cristian bigmomo"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ],
      "id": "daae125e-53b8-49b7-bce5-59ce5c6a5df2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `id of the gmail message, like 1944fdc33f544369`, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        928,
        224
      ],
      "id": "2522b2e3-56db-49ff-8728-7106d47f9d95",
      "name": "Get a message in Gmail",
      "webhookId": "eba62e72-fe7c-46ea-8936-a23b75bc0486",
      "credentials": {
        "gmailOAuth2": {
          "id": "81fW20A5QWw8eLph",
          "name": "gmail - cristian bigmomo"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        176,
        0
      ],
      "id": "14f1b535-add6-4682-b687-dc83866abbcb",
      "name": "Loop Over Items"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add Label": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get all Labels": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 1
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1762290582,
        "possibleDuplicates": [
          "19a50b44dd0e4de1"
        ]
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "933b75e5-4fa2-47d0-bffd-5b63db34c4d1",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-24T09:35:58.262Z",
      "createdAt": "2025-10-24T09:35:58.262Z",
      "role": "workflow:owner",
      "workflowId": "JUSYRbe45rvkCWkk",
      "projectId": "rGXkia6aVrtkTfUq"
    }
  ],
  "tags": []
}