workflows/asana-reschedule-overdue-tasks.json
{"updatedAt":"2025-10-28T23:04:11.000Z","createdAt":"2025-10-24T09:33:36.209Z","id":"nxxF3VdTvIDXIej4","name":"asana - reschedule overdue tasks","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","returnAll":true,"filters":{"assignee":"cristian.alcaraz@bigmomo.com","workspace":"43540521088120","completed_since":"={{ DateTime.now().format('yyyy-MM-dd') }}"}},"id":"b8bf3d90-e468-4c4f-9f4a-6f81ff02309e","name":"Get user tasks","type":"n8n-nodes-base.asana","position":[288,288],"typeVersion":1,"credentials":{"asanaApi":{"id":"vNnjWz0xBzSlIfUG","name":"Asana account - bigmomo"}}},{"parameters":{"operation":"get","id":"={{ $json.gid }}"},"id":"4f2793c1-b5ab-46da-816e-7bc69fc9521c","name":"Get task infos","type":"n8n-nodes-base.asana","position":[512,288],"typeVersion":1,"credentials":{"asanaApi":{"id":"vNnjWz0xBzSlIfUG","name":"Asana account - bigmomo"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"145d9367-7662-4ed9-8195-bf9b35c78d6b","operator":{"type":"boolean","operation":"false","singleValue":true},"leftValue":"={{ $json.completed }}","rightValue":"false"}]},"options":{}},"id":"4ec245f7-1dcf-4954-841e-44d050dc1466","name":"Task is open?","type":"n8n-nodes-base.if","position":[752,288],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"dbecabb3-8075-4cc0-94af-b678c8af8f66","operator":{"type":"number","operation":"lt"},"leftValue":"={{ $json.due_on.replaceAll(\"-\",\"\") }}","rightValue":"={{ DateTime.now().format('yyyyMMdd') }}"}]},"looseTypeValidation":true,"options":{}},"id":"c6e7a02a-0ea6-436e-8247-08c8f4083b23","name":"Due date in the past?","type":"n8n-nodes-base.if","position":[992,160],"typeVersion":2.2},{"parameters":{"operation":"update","id":"={{ $json.gid }}","otherProperties":{"due_on":"={{ DateTime.now().format('yyyy-MM-dd') }}"}},"id":"d4611cd9-370d-415a-b6a4-fb3ab9cd6888","name":"Set due date to Today","type":"n8n-nodes-base.asana","position":[1248,128],"typeVersion":1,"credentials":{"asanaApi":{"id":"vNnjWz0xBzSlIfUG","name":"Asana account - bigmomo"}}},{"parameters":{"spaceId":"spaces/AAQAmMDYSNw","messageUi":{"text":"🗄️ Todas las tareas pasadas han sido asignadas a hoy."},"additionalFields":{}},"type":"n8n-nodes-base.googleChat","typeVersion":1,"position":[1472,128],"id":"e763c373-42c2-440a-91fd-128f05521883","name":"Google Chat","webhookId":"b1a56158-b1ee-4c25-8857-3931a57273db","executeOnce":true,"credentials":{"googleApi":{"id":"KsbkO5Zn2sEeZIHn","name":"Google Service Account - bigmomo"}}},{"parameters":{"content":"### ⚙️ Set Up \n\n1. Add your **Asana** credentials\n2. Schedule the workflow to run at desired intervals (e.g., daily or weekly).\n3. Select your **Workspace Name** and your **Assignee Name** (user) in the **Get user tasks** node\n4. *(Optional) Tailor filtering conditions to match your preferred due-date rules and removal criteria.*\n5. **Activate the workflow** and watch your Asana workspace stay up to date and clutter-free.","height":240,"width":640,"color":5},"id":"da5e1f15-7a47-4963-b021-1bbd0bd56989","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":5}]}},"id":"b1a079d6-6ef8-4e5a-9372-409bca883739","name":"Everyday at morning","type":"n8n-nodes-base.scheduleTrigger","position":[48,288],"typeVersion":1.2}],"connections":{"Task is open?":{"main":[[{"node":"Due date in the past?","type":"main","index":0}]]},"Get task infos":{"main":[[{"node":"Task is open?","type":"main","index":0}]]},"Get user tasks":{"main":[[{"node":"Get task infos","type":"main","index":0}]]},"Due date in the past?":{"main":[[{"node":"Set due date to Today","type":"main","index":0}]]},"Set due date to Today":{"main":[[{"node":"Google Chat","type":"main","index":0}]]},"Everyday at morning":{"main":[[{"node":"Get user tasks","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"8vgwakbL7IcugV2b","timeSavedPerExecution":5},"staticData":{"node:Everyday at 7am":{"recurrenceRules":[]},"node:Everyday at morning":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6cb1d995-e635-4388-b06f-129b5de1c59d","triggerCount":1,"shared":[{"updatedAt":"2025-10-24T09:33:36.221Z","createdAt":"2025-10-24T09:33:36.221Z","role":"workflow:owner","workflowId":"nxxF3VdTvIDXIej4","projectId":"rGXkia6aVrtkTfUq"}],"tags":[]}