workflows/calendar-alert-for-live-event-on-master.json
{
  "updatedAt": "2025-11-06T10:06:08.163Z",
  "createdAt": "2025-10-24T09:40:02.607Z",
  "id": "jNENotoOCHpWRKSn",
  "name": "calendar - alert for live event on master",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "c_c1c8a66848718aaba772b65c00cb83b167a2b8bd6ed0a98b9046c772a62a27c2@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Máster en Desarrollo con IA"
        },
        "timeMin": "={{ $today }}",
        "timeMax": "={{ $now.plus({ days: (7 - $now.weekday) % 7 || 7 }).startOf('day') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        240,
        0
      ],
      "id": "e563f2e1-0bc5-4574-9e54-04387e553921",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "777xDlCIv6BtISa9",
          "name": "google calendar - cristian bigmomo"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "37dda2de-335e-45e7-823f-c994d2aa6a65",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "=# {{ $json.organizer.displayName }}\n## Apuntes del día ({{ DateTime.fromISO($json.start.dateTime).toISODate() }})\n\n*Reemplaza con el contenido*",
        "name": "=({{ DateTime.fromISO($json.start.dateTime).toISODate() }}){{ $json.summary }}.md",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1gbMXsuwaGhOVRpSqD5f3xifjtuMzE4UJ",
          "mode": "list",
          "cachedResultName": "00 - Directos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1gbMXsuwaGhOVRpSqD5f3xifjtuMzE4UJ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "bf9a9097-bddb-4c8b-9232-124d51492647",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MF7kuDreTfqXRssl",
          "name": "google drive - cristian bigmomo"
        }
      }
    },
    {
      "parameters": {
        "spaceId": "spaces/AAQAanXbBJY",
        "messageUi": {
          "text": "=⚡ ¡Hola! ⚡\n\nEsta semana tienes un nuevo evento en directo del máster.\n\n🔗 https://campus.thebigschool.com/modulos/directos-3/\n📝 He creado una nueva nota en: ({{ DateTime.fromISO($('Get many events').item.json.start.dateTime).toISODate() }}){{ $('Get many events').item.json.summary }}.md"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "73cf011e-42b1-45ae-bd78-a27a2984b285",
      "name": "Create a message",
      "webhookId": "b0487001-82f0-4449-9326-66b04365e6b9",
      "credentials": {
        "googleApi": {
          "id": "KsbkO5Zn2sEeZIHn",
          "name": "google service - cristian automomo"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create file from text": {
      "main": [
        [
          {
            "node": "Create a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2200ae58-d050-45af-a697-c7c6704ba047",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-24T09:40:02.651Z",
      "createdAt": "2025-10-24T09:40:02.651Z",
      "role": "workflow:owner",
      "workflowId": "jNENotoOCHpWRKSn",
      "projectId": "rGXkia6aVrtkTfUq"
    }
  ],
  "tags": []
}