workflows/flow-apuntes.json
{
  "name": "Flow Apuntes",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "c_c1c8a66848718aaba772b65c00cb83b167a2b8bd6ed0a98b9046c772a62a27c2@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Máster en Desarrollo con IA"
        },
        "timeMin": "={{ $today }}",
        "timeMax": "={{ $now.plus({ days: (7 - $now.weekday) % 7 || 7 }).startOf('day') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        880,
        -380
      ],
      "id": "0b2ca146-aaff-4659-905b-f3ef4e2ba550",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TBzDaoZhNGaeS2Rx",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        640,
        -380
      ],
      "id": "24661d41-4f5b-43e0-b782-92ab6e7420dc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "=# {{ $json.organizer.displayName }}\n## Apuntes del día ({{ DateTime.fromISO($json.start.dateTime).toISODate() }})\n\n*Reemplaza con el contenido*",
        "name": "=({{ DateTime.fromISO($json.start.dateTime).toISODate() }}){{ $json.summary }}.md",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1gbMXsuwaGhOVRpSqD5f3xifjtuMzE4UJ",
          "mode": "list",
          "cachedResultName": "00 - Directos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1gbMXsuwaGhOVRpSqD5f3xifjtuMzE4UJ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1080,
        -380
      ],
      "id": "10d53865-353a-464d-be84-6a16123ac38c",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "taAOGneix72lZ46M",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "spaceId": "spaces/AAQAanXbBJY",
        "messageUi": {
          "text": "=⚡ ¡Hola! ⚡\n\nEsta semana tienes un nuevo evento en directo del máster.\n\n🔗 https://campus.thebigschool.com/modulos/directos-3/\n📝 He creado una nueva nota en: ({{ DateTime.fromISO($('Get many events').item.json.start.dateTime).toISODate() }}){{ $('Get many events').item.json.summary }}.md"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        1280,
        -380
      ],
      "id": "725dc45c-1f01-4a92-a2bb-da11c7b0b298",
      "name": "Create a message",
      "webhookId": "b0487001-82f0-4449-9326-66b04365e6b9",
      "credentials": {
        "googleChatOAuth2Api": {
          "id": "Esxz46GfzsFLuBWz",
          "name": "Chat account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create file from text": {
      "main": [
        [
          {
            "node": "Create a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ae91773a-f334-4d05-aa6b-6b3f855f9485",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84465f7406dd5b864dcbddc55a5f7119c6fc82eee988fb191497ce9cc21ee4e2"
  },
  "id": "Ux8epDHMHUkx9h3X",
  "tags": []
}