workflows/gmail-downtimemonkey-alert-on-chat.json
{
  "updatedAt": "2025-10-28T23:06:15.000Z",
  "createdAt": "2025-10-24T09:37:32.422Z",
  "id": "EXlYE3246NzjH9r9",
  "name": "gmail - downtimemonkey alert on chat",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "spaceId": "spaces/AAQATBvNaMc",
        "messageUi": {
          "text": "=⚡ Downtime Monkey Alert\n{{ $json.snippet }}"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "fde39f4c-22cd-4c95-bd99-0ff3202d5cfb",
      "name": "Create a message",
      "webhookId": "5dc9be51-6108-4e95-b138-071ff4c629b5",
      "credentials": {
        "googleApi": {
          "id": "KsbkO5Zn2sEeZIHn",
          "name": "Google Service Account - bigmomo"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        400,
        0
      ],
      "id": "de0852a7-f0ff-46dc-a388-4f933146e5c2",
      "name": "Delete a message",
      "webhookId": "1e55c81f-f807-4770-9af6-027c5e848b35",
      "credentials": {
        "gmailOAuth2": {
          "id": "81fW20A5QWw8eLph",
          "name": "Gmail account - bigmomo"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "sender": "monitor@downtimemonkey.com"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "49f7c9f3-7667-4cec-95e4-bc695f06c2dc",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "81fW20A5QWw8eLph",
          "name": "Gmail account - bigmomo"
        }
      }
    }
  ],
  "connections": {
    "Create a message": {
      "main": [
        [
          {
            "node": "Delete a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Create a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "8vgwakbL7IcugV2b",
    "timeSavedPerExecution": 1
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1762085231,
        "possibleDuplicates": [
          "19a4476eb8a6f62e",
          "19a4476e8866fa83"
        ]
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "dc09ee9f-d306-43f8-953c-b77bdfd678aa",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-24T09:37:32.442Z",
      "createdAt": "2025-10-24T09:37:32.442Z",
      "role": "workflow:owner",
      "workflowId": "EXlYE3246NzjH9r9",
      "projectId": "rGXkia6aVrtkTfUq",
      "project": {
        "updatedAt": "2025-10-24T08:08:37.228Z",
        "createdAt": "2025-10-24T07:52:07.826Z",
        "id": "rGXkia6aVrtkTfUq",
        "name": "Cristian Alcaraz <cristian.alcaraz@bigmomo.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-10-24T07:52:07.831Z",
            "createdAt": "2025-10-24T07:52:07.831Z",
            "userId": "17ca619e-ba42-4dd5-a851-7ec7454ced90",
            "projectId": "rGXkia6aVrtkTfUq",
            "user": {
              "updatedAt": "2025-11-02T08:31:59.000Z",
              "createdAt": "2025-10-24T07:52:07.819Z",
              "id": "17ca619e-ba42-4dd5-a851-7ec7454ced90",
              "email": "cristian.alcaraz@bigmomo.com",
              "firstName": "Cristian",
              "lastName": "Alcaraz",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-10-24T08:11:22.497Z",
                "personalization_survey_n8n_version": "1.116.2",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "business-owner",
                "reportedSource": "friend"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "JUSYRbe45rvkCWkk",
                "userActivated": true,
                "userActivatedAt": 1761301408633,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1761687179598
                }
              },
              "disabled": false,
              "mfaEnabled": true,
              "lastActiveAt": "2025-11-01",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}