workflows/gmail-downtimemonkey-alert-on-chat.json
{
  "updatedAt": "2025-11-05T11:47:08.000Z",
  "createdAt": "2025-10-24T09:37:32.422Z",
  "id": "EXlYE3246NzjH9r9",
  "name": "gmail - downtimemonkey alert on chat",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "spaceId": "spaces/AAQATBvNaMc",
        "messageUi": {
          "text": "=⚡ Downtime Monkey Alert\n{{ $json.snippet }}"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        384,
        96
      ],
      "id": "fde39f4c-22cd-4c95-bd99-0ff3202d5cfb",
      "name": "Create a message",
      "webhookId": "5dc9be51-6108-4e95-b138-071ff4c629b5",
      "credentials": {
        "googleApi": {
          "id": "KsbkO5Zn2sEeZIHn",
          "name": "google service - cristian automomo"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $('Loop Over Items').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        544,
        96
      ],
      "id": "de0852a7-f0ff-46dc-a388-4f933146e5c2",
      "name": "Delete a message",
      "webhookId": "1e55c81f-f807-4770-9af6-027c5e848b35",
      "credentials": {
        "gmailOAuth2": {
          "id": "81fW20A5QWw8eLph",
          "name": "gmail - cristian bigmomo"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -208,
        0
      ],
      "id": "6a18d241-5858-4807-be35-5d33dd51fdec",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "sender": "monitor@downtimemonkey.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        16,
        0
      ],
      "id": "d261cd49-d57e-47b6-9bf3-d6674a86bf60",
      "name": "Get many messages",
      "webhookId": "c46cb263-ae8e-483c-9e3c-2e5c016f4599",
      "credentials": {
        "gmailOAuth2": {
          "id": "81fW20A5QWw8eLph",
          "name": "gmail - cristian bigmomo"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "dfcb8858-e9c8-4b24-ae2e-50b8d556f942",
      "name": "Loop Over Items"
    }
  ],
  "connections": {
    "Create a message": {
      "main": [
        [
          {
            "node": "Delete a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Create a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "8vgwakbL7IcugV2b",
    "timeSavedPerExecution": 1,
    "saveDataSuccessExecution": "none"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {}
    },
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "75debe0c-119f-4746-8233-0cc65adc8bd0",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-24T09:37:32.442Z",
      "createdAt": "2025-10-24T09:37:32.442Z",
      "role": "workflow:owner",
      "workflowId": "EXlYE3246NzjH9r9",
      "projectId": "rGXkia6aVrtkTfUq"
    }
  ],
  "tags": []
}