workflows/n8n-backup-to-git.json
{
  "updatedAt": "2025-11-05T22:27:42.584Z",
  "createdAt": "2025-11-02T21:18:35.053Z",
  "id": "cGKgzn4cs6RfgQJB",
  "name": "n8n - backup to git",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"kebabName\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "cf1f5c67-bd7d-477d-bfdc-ab271c001d69",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -96,
        -224
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "c9294f34-22b9-4b83-b14c-360f01f19e35",
      "credentials": {
        "githubOAuth2Api": {
          "id": "uJkV0CFpcnwNlZKl",
          "name": "github - zephir1 and bigmomo-vs"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "zephir1"
            },
            {
              "name": "repo.name",
              "value": "automomo"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "3f4fbcf5-d034-4654-be21-643a014268ce",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -1008,
        -304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "2189cf5f-5a80-4342-991c-e88d5e3dcf39",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -768,
        -304
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "FdrHqxGOeml18lEa",
          "name": "n8n - cristian bigmomo"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "759202e6-2128-4c52-9f8c-324ac0101c29",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -544,
        -304
      ],
      "executeOnce": false,
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "16a9182d-059d-4774-ba95-654fb4293fdb",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "c077428f-4815-4fe2-b5db-f1bc9a3c2d70",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        96,
        -224
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e0c66624-429a-4f1f-bf7b-1cc1b32bad7b",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": "={{ $('Convert Name to Kebab-Case').item.json.formattedJson }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3711435b-e878-481d-8f3b-3060e0b8d922",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        976,
        48
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"
      },
      "id": "edcd2962-e956-47bc-bc0b-75f7e3315047",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        656,
        -240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Convert Name to Kebab-Case').item.json.kebabName }}.json",
        "fileContent": "={{ $('Convert Name to Kebab-Case').item.json.formattedJson }}",
        "commitMessage": "=backup: {{ $('Convert Name to Kebab-Case').item.json.kebabName }}.json"
      },
      "id": "be7fd68c-36c4-4293-aac5-884c7f8cddae",
      "name": "Create new file and commit",
      "type": "n8n-nodes-base.github",
      "position": [
        288,
        -64
      ],
      "typeVersion": 1,
      "webhookId": "ad7b9ec4-a205-42a4-9bcb-0e2fc2434f38",
      "credentials": {
        "githubOAuth2Api": {
          "id": "uJkV0CFpcnwNlZKl",
          "name": "github - zephir1 and bigmomo-vs"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Convert Name to Kebab-Case').item.json.kebabName }}.json",
        "fileContent": "={{ $('Convert Name to Kebab-Case').item.json.formattedJson }}",
        "commitMessage": "=backup: {{ $('Convert Name to Kebab-Case').item.json.kebabName }}.json"
      },
      "id": "6c71b08d-ad29-421e-bb90-78427de5931e",
      "name": "Update file content and commit",
      "type": "n8n-nodes-base.github",
      "position": [
        1344,
        256
      ],
      "typeVersion": 1,
      "webhookId": "788214e0-717c-43ed-ad45-5e66ad9c1b13",
      "credentials": {
        "githubOAuth2Api": {
          "id": "uJkV0CFpcnwNlZKl",
          "name": "github - zephir1 and bigmomo-vs"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "6abfbfeb-6f6a-4a09-92f5-572ed83e5f4f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1232,
        -304
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "Workflow changes committed to the repository",
        "height": 80
      },
      "id": "ad21dccc-5078-4eb5-a6df-480868dd18fb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Check if there are any changes in the workflow",
        "height": 80
      },
      "id": "57b67c10-68e9-4a7b-b871-244e9f3f59b9",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Create a new file for the workflow",
        "height": 80
      },
      "id": "d78f6be6-7389-4c6f-b787-3b7f4b032a36",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Check if file exists in the repository",
        "height": 80
      },
      "id": "c564668e-5467-4450-a027-df8e8f97e62a",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        -336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Convert the file contents to JSON string",
        "height": 80
      },
      "id": "f6b39a2a-bb10-4e59-a234-c8c4f444732f",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Get all workflows",
        "height": 80
      },
      "id": "c18e6ad5-23fe-452a-a4a2-d4f5973aa01d",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        -416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Set variables",
        "height": 80
      },
      "id": "228bde46-bc7f-4262-a050-46ed16c2b01a",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        -176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Código JavaScript para añadir al nodo \"Convert Name to Kebab-Case\" en n8n\n// Este nodo debe ir entre \"Loop Over Items\" y \"GitHub\"\n\n// Convert workflow name to kebab-case for filename\nconst item = $input.item.json;\n\nfunction nameToKebabCase(name) {\n  // Remove parentheses\n  let result = name.replace(/[()]/g, '');\n  // Replace multiple spaces/underscores with single space\n  result = result.replace(/[\\s_]+/g, ' ');\n  // Convert to lowercase and replace spaces with hyphens\n  result = result.trim().toLowerCase().replace(/ /g, '-');\n  // Replace multiple consecutive hyphens with single hyphen\n  result = result.replace(/-+/g, '-');\n  // Remove any remaining special characters except hyphens\n  result = result.replace(/[^a-z0-9-]/g, '');\n  return result;\n}\n\n// Clean up fields we don't want to version control\n// Remove nested project data from shared array\nif (item.shared && Array.isArray(item.shared)) {\n  item.shared = item.shared.map(s => {\n    const cleaned = {...s};\n    delete cleaned.project;  // Remove nested project with user data\n    return cleaned;\n  });\n}\n\n// Remove versionCounter (changes on every edit)\ndelete item.versionCounter;\n\n// Clean up staticData - remove runtime state that changes on every execution\nif (item.staticData && typeof item.staticData === 'object') {\n  for (const nodeKey in item.staticData) {\n    const nodeData = item.staticData[nodeKey];\n    if (nodeData && typeof nodeData === 'object') {\n      for (const triggerKey in nodeData) {\n        const triggerData = nodeData[triggerKey];\n        if (triggerData && typeof triggerData === 'object') {\n          // Remove lastTimeChecked and possibleDuplicates\n          delete triggerData.lastTimeChecked;\n          delete triggerData.possibleDuplicates;\n        }\n      }\n    }\n  }\n}\n\n// Create a copy for JSON generation (without kebabName inside)\nconst itemForJson = {...item};\nconst formattedJson = JSON.stringify(itemForJson, null, 2);\n\n// Return with kebabName for filename, but formattedJson doesn't contain it\nitem.kebabName = nameToKebabCase(item.name);\nitem.formattedJson = formattedJson;\n\nreturn { json: item };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -224
      ],
      "id": "3b850719-73b7-4cc2-a507-34acdf0bb286",
      "name": "Convert Name to Kebab-Case"
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new file and commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update file content and commit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Convert Name to Kebab-Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file and commit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file content and commit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Name to Kebab-Case": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ef541577-7bb4-4503-8f07-a2dcd867e669",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-02T21:18:35.065Z",
      "createdAt": "2025-11-02T21:18:35.065Z",
      "role": "workflow:owner",
      "workflowId": "cGKgzn4cs6RfgQJB",
      "projectId": "rGXkia6aVrtkTfUq"
    }
  ],
  "tags": []
}